{{ partial "meta" . }}

{{ $incidents := where .Site.RegularPages "Params.section" "issue" }}
{{ $active := where $incidents "Params.resolved" "=" false }}
{{ $resolved := where $incidents "Params.resolved" "=" true }}

{{ $isNotice := where $active "Params.severity" "=" "notice" }}
{{ $isDisrupted := where $active "Params.severity" "=" "disrupted" }}
{{ $isDown := where $active "Params.severity" "=" "down" }}

  <body class="status-homepage status-{{ if $isDown }}down{{ else }}{{ if $isDisrupted}}disrupted{{ else }}{{ if $isNotice }}notice{{ else }}ok{{ end }}{{ end }}{{ end }} {{ if not .Site.Params.alwaysKeepBrandColor }}change-header-color{{ end }}">
    {{ partial "header" . }}

    <!-- Custom tabs -->
    {{ partial "index/tabs" . }}

    <!-- Main -->
    <div class="contain">
      <!-- Enable JavaScript banner -->
      {{ partial "index/noscript" . }}

      <!-- "All systems operational" (or not) banner -->
      {{ partial "index/summary" . }}

      <!-- Auto refresh -->
      {{ partial "index/autorefresh" . }}
    </div>

  <!-- Active incidents (unresolved) -->
  {{ if $active }}
    <div class="contain contain--more" id="active-incidents">
      <h2 class="section-title">Active incidents</h2>
      {{ range $active }}
        {{ .Render "small" }}
      {{ end }}
    </div>
  {{ end }}

    <div class="contain">
      <!-- Individual component info -->
      {{ partial "index/components" . }}

      {{ if .Site.Params.enableCustomHTML }}
        {{ partial "custom/homepage-summary" . }}
      {{ end }}
      <!-- End main -->
    </div>

  <!-- Incident history (resolved) -->
  {{ if not .Site.Params.disableIncidentHistory }}
    {{ $postsPerPage := .Site.Params.incidentPostsPerPage | default 10 }}
    <div class="contain contain--more" id="incidents">
      <h2 class="section-title">{{ T "incidentHistory" }}</h2>
      {{ if not $incidents }}
        <div class="padding"></div>
        <h3>{{ T "calmBeforeTheStorm" }}</h3>
        <p>{{ T "noIncidentsDesc" }}</p>
      {{ else }}
        {{ range first $postsPerPage $resolved }}
          {{ .Render "small" }}
        {{ end }}
        {{ if gt (len $resolved) $postsPerPage }}
        <hr>
        <div class="right">
          <a href="/issues/" class="next-link">{{ T "next" }} &nbsp; &rarr;</a>
        </div>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}

  {{ partial "js" . }}
  {{ partial "footer" . }}
  </body>
</html>
